@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #d3d3d3;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #909090;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #505050;
}
body {
	font-family: 'Inter', sans-serif;
  }
  
  .container {
	max-width: 1200px;
  }
  
  /* Custom scrollbar styles */
  textarea::-webkit-scrollbar {
	width: 8px;
  }
  
  textarea::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
  textarea::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
  }
  
  textarea::-webkit-scrollbar-thumb:hover {
	background: #555;
  }
  
  